<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings >
    <add key="rules.file" value="https://raw.githubusercontent.com/intergenignite/ignite/master/resource/test/ignite_rules.json"/>    
    <add key="session.map.file" value="https://raw.githubusercontent.com/intergenignite/ignite/master/resource/test/ignite_session_map.json"/>    
  </appSettings>
</configuration>